#task-container{
    display: flex;
    justify-content: space-between;
}

#task-button{
    border-radius: 5px;
    border: none;
    background-color: #28464b;
    padding: 5px 8px;
    color: white;
    font-size: 1rem;
}

#task-button:hover{
    background-color: red;
}

