*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container{
  width: 80%;
  margin-inline: auto;
  margin-top: 25px;
}

#input-task-box{
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid goldenrod;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 10px;
}

li {
  background-color: #2c8c991d;
  font-size: 1.5rem;
  margin-top: 3px;
}

#add-task-button{
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 10px;
  background-color: #2c8c99;
  color: white;
  margin-left: 10px;
}

#add-task-button:hover{
  background-color: #28464b;
}

.display-task-container{
  margin-top: 20px;
}
